<!doctype html>
<html lang="en">
<head>
  <title>AirC&#9889DC</title>
  <!-- http://www.webrtc.org/ -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/css/style.css">

 <style>
  #monitor {
      display: none;
    }

    #blendCanvas {
      display: none;
    }
  </style>
</head>

  <!-- ========VIDEO=====&&====CANVAS=========== -->

<body>

<table align="center">
  <tr>
    <th><a href="/drums"><button class="button">Air Drums</button></a></th>
    <th><a href="/piano"><button class="button">Air Piano</button></a></th>
    <th><a href="/dj1"><button class="button">Air DJ Set 1</button></a></th>
    <th><a href="/dj2"><button class="button">Air DJ Set2</button></a></th>
    <th><a href="/trump"><button class="button">Trump Mode</button></a></th>
    <th><a href="/gong"><button class="button">Hit The Gong!!!</button></a></th>
    <th><a href="/team"><button class="button">About the Team</button></a></th>
    <th><a href="/scenes"><button class="button">Behind the Scenes</button></a></th>
    <th><a href="/"><button class="button">Home</button></a></th>
  </tr>
</table>


<video align="center" id="monitor" autoplay width: 1400; height: 900;></video>


<div id="canvasLayers" width="1400px" height="900px" style="margin: auto;  top: 75px; position: absolute;" align="center">
<!-- video canvas is the mirror -->
<canvas id="videoCanvas" width="1400px" height="900px" style="margin: auto;  top: 75px; position: absolute;" align="center"></canvas>

<!-- layer 2 has the button/instrument detections in them -->
<canvas id="layer2" width="1400px" height="900px" style="margin: auto;  top: 75px; position: absolute;" align="center"></canvas>
</div>

<!-- blend canvas is where all the photos are being taken in black and white and comparing the pixel changes based on diff. background image, detecting "movement" when the images are different from different motions -->
<canvas id="blendCanvas" width="1400px" height="900px" align="center"></canvas>

<!-- ===================AUDIO========================= -->

  <audio class="bass" id="strum">
    <source src='audio/bass/E.mp3'></source>
  </audio>
  <audio class="bass" id="E_hi">
    <source src='audio/bass/E_hi.mp3'></source>
  </audio>
  <audio class="bass" id="G">
    <source src='audio/bass/G.mp3'></source>
  </audio>
  <audio class="bass" id="A">
    <source src='audio/bass/A.mp3'></source>
  </audio>
  <audio class="bass" id="B">
    <source src='audio/bass/B.mp3'></source>
  </audio>
  <audio class="bass" id="D">
    <source src='audio/bass/D.mp3'></source>
  </audio> 

<div id="snapshot"></div>

<script src="javascripts/bass_app.js"></script>
<script src="javascripts/bass.js"></script>
</body>
</html>