<!doctype html>
<html lang="en">
<head>

  <title>AirC&#9889DC</title>
  <!-- http://www.webrtc.org/ -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<style>
  #monitor {
      display: none;
    }

    #blendCanvas {
      display: none;
    }
  </style>
  
</head>
<body>
<table align="center">
  <tr>
    <th><a href="/bass"><button class="button">Air Bass</button></a></th>
    <th><a href="/drums"><button class="button">Air Drums</button></a></th>
    <th><a href="/dj2"><button class="button">Air DJ Set2</button></a></th>
    <th><a href="/guitar"><button class="button">Air Guitar</button></a></th>
    <th><a href="/piano"><button class="button">Air Piano</button></a></th>
    <th><a href="/gong"><button class="button">Hit The Gong!!!</button></a></th>
    <th><a href="/team"><button class="button">About the Team</button></a></th>
    <th><a href="/scenes"><button class="button">Behind the Scenes</button></a></th>
    <th><a href="/trump"><button class="button">Trump Mode</button></a></th>
    <th><a href="/"><button class="button">Home</button></a></th>

  </tr>
</table>


  
  



<video align="center" id="monitor" autoplay width: 1400; height: 900;></video>


<div id="canvasLayers" width="1400px" height="900px" style="margin: auto;  top: 75px; position: absolute;" align="center">
<!-- video canvas is the mirror -->
<canvas id="videoCanvas" width="1400px" height="900px" style="margin: auto;  top: 75px; position: absolute;" align="center"></canvas>

<canvas id="highlights" width="1400px" height="900px" style="opacity: 0.8; margin: auto;  top: 75px; position: absolute;" align="center"></canvas>

<canvas id="highlights2" width="1400px" height="900px" style="transform: rotateY(180deg); -webkit-transform:rotateY(180deg); -moz-transform:rotateY(-180deg); opacity: 0.5; margin: auto;  top: 75px; position: absolute;" align="center"></canvas>

<!-- layer 2 has the button/instrument detections in them -->
<canvas id="layer2" width="1400px" height="900px" style="margin: auto;  top: 75px; position: absolute; opacity: 1;" align="center"></canvas>
</div>

<!-- blend canvas is where all the photos are being taken in black and white and comparing the pixel changes based on diff. background image, detecting "movement" when the images are different from different motions -->
<canvas id="blendCanvas" width="1400px" height="900px" align="center"></canvas>


<div id="messageError"></div>



<script>

var highlights = document.getElementById( 'highlights' );
var highlightscontext = highlights.getContext( '2d' ); 

var highlights2 = document.getElementById( 'highlights2' );
var highlights2context = highlights2.getContext( '2d' );      

var highlight = new Image();
highlight.src ="/images/SquareRed.png";
var highlight1 = { name:"highlight", image:highlight, x:0, y:0, w:150, h:150 };

var buttons = [];

var button1 = new Image();
button1.src ="images/bass_amp.png";
var buttonData1 = { name:"Bass", image:button1, x:1200, y:650, w:100, h:100 };
buttons.push( buttonData1 );

var button2 = new Image();
button2.src ="images/drums.png";
var buttonData2 = { name:"Drums", image:button2, x:1200, y:300, w:100, h:100 };
buttons.push( buttonData2 );

var button3 = new Image();
button3.src ="images/guitar.png";
var buttonData3 = { name:"Guitar", image:button3, x:800, y:50, w:100, h:100  };
buttons.push( buttonData3 );

var button4 = new Image();
button4.src ="images/piano.png";
var buttonData4 = { name:"Piano", image:button4, x:50, y:300, w:100, h:100 };
buttons.push( buttonData4 );

var button5 = new Image();
button5.src ="images/violin.png";
var buttonData5 = { name:"Violin", image:button5, x:500, y:50, w:100, h:100 };
buttons.push( buttonData5 );

var button6 = new Image();
button6.src ="images/crowd.png";
var buttonData6 = { image:button6, x:0, y:800, w:1800, h:100 };

var button7 = new Image();
button7.src ="images/lights.jpeg";
var buttonData7 = { image:button7, x:0, y:0, w:1400, h:1000 };

var button8 = new Image();
button8.src ="images/mic.png";
var buttonData8 = { name:"Beer Voice", image:button8, x:1200, y:50, w:100, h:100 };
buttons.push( buttonData8 );

var button9 = new Image();
button9.src ="images/song.png";
var buttonData9 = { name:"Song", image:button9, x:50, y:650, w:100, h:100 };
buttons.push( buttonData9 );

var button10 = new Image();
button10.src ="images/mic.png";
var buttonData10 = { name:"Darth Vader", image:button10, x:50, y:50, w:100, h:100 };
buttons.push( buttonData10 );


var trancebass_audio = new Audio("audio/electrobass.mp3");
var drummix_audio = new Audio("audio/drum_mix.mp3");
var guitar_audio = new Audio("audio/guitar.mp3");
var piano_audio = new Audio("audio/piano.mp3");
var violin_audio = new Audio("audio/violin.mp3");
var beer_audio = new Audio("audio/ineedabeervoice.mp3");
var marshmello_audio = new Audio("audio/marshmello.mp3");
var darthvader_audio = new Audio("audio/darthvadervoice.mp3");

audio = [trancebass_audio,drummix_audio, guitar_audio, piano_audio, violin_audio, beer_audio, marshmello_audio, darthvader_audio ]
// called in animate function
function render() 
{ 
  if ( video.readyState === video.HAVE_ENOUGH_DATA ) 
  {
    // mirror video
    videoContext.drawImage( video, 0, 0, videoCanvas.width, videoCanvas.height );
    highlightscontext.clearRect(0, 0, videoCanvas.width, videoCanvas.height)
    highlights2context.clearRect(0, 0, videoCanvas.width, videoCanvas.height)
    highlightscontext.drawImage( button7, 0, 0, 1400, 1000 );
    highlightscontext.drawImage( button6, 0, 700, 1400, 200 );
    for ( var x = 0; x < audio.length; x++ ) {
      if (audio[0].paused === false){
        highlights2context.drawImage( highlight1.image, buttonData1.x -25, buttonData1.y -25, 150, 150 );
      }
       if (audio[1].paused === false){
        highlights2context.drawImage( highlight1.image, buttonData2.x -25, buttonData2.y -25, 150, 150 );
      }
       if (audio[2].paused === false){
        highlights2context.drawImage( highlight1.image, buttonData3.x -25, buttonData3.y -25, 150, 150 );
      }
       if (audio[3].paused === false){
        highlights2context.drawImage( highlight1.image, buttonData4.x -25, buttonData4.y -25, 150, 150 );
      }
       if (audio[4].paused === false){
        highlights2context.drawImage( highlight1.image, buttonData5.x -25, buttonData5.y -25, 150, 150 );
      }
       if (audio[5].paused === false){
        highlights2context.drawImage( highlight1.image, buttonData8.x -25, buttonData8.y -25, 150, 150 );
      }
       if (audio[6].paused === false){
        highlights2context.drawImage( highlight1.image, buttonData9.x -25, buttonData9.y -25, 150, 150 );
      }
       if (audio[7].paused === false){
        highlights2context.drawImage( highlight1.image, buttonData10.x - 25, buttonData10.y - 25, 150, 150 );
      }
    }

    for ( var i = 0; i < buttons.length; i++ ) {
      // this is where the buttons are being placed on one canvas.
      layer2Context.drawImage( buttons[i].image, buttons[i].x, buttons[i].y, buttons[i].w, buttons[i].h ); 
    }



  }

}




function FunctionSuppressor(args) {
  this.lastFiredAt = Date.now();
  this.threshold = args.threshold;
}

FunctionSuppressor.prototype.fire = function(audio) {
  if (Date.now() - this.lastFiredAt > this.threshold) {
    this.lastFiredAt = Date.now();
    if (audio.paused === true){
      audio.play()
    } else if (audio.paused === false) {
      audio.pause()
  }
    
  }
}

FunctionSuppressor.prototype.loopfire = function(audio) {
  if (Date.now() - this.lastFiredAt > this.threshold) {
    this.lastFiredAt = Date.now();
    if (audio.paused === true && audio.loop === false){
      audio.play()
      audio.loop = true
    } else if (audio.paused === false && audio.loop === true) {
      audio.pause()
      audio.loop = false
  }
    
  }
}

var trancebasssuppressor = new FunctionSuppressor({threshold: 1000 })
var drummixsuppressor = new FunctionSuppressor({threshold: 1000 })
var guitarsuppressor = new FunctionSuppressor({threshold: 1000 })
var pianosuppressor = new FunctionSuppressor({threshold: 1000 })
var violinsuppressor = new FunctionSuppressor({threshold: 1000 })
var beersuppressor = new FunctionSuppressor({threshold: 1000 })
var marshmellosuppressor = new FunctionSuppressor({threshold: 1000 })
var darthvadersuppressor = new FunctionSuppressor({threshold: 1000 })



// check if white region from blend overlaps area of interest (e.g. buttons)
var triggers = []
function checkAreas() 
{
  
  // buttons are the images being touched
  for (var b = 0; b < buttons.length; b++) 
  {
    // get the pixels in a note area from the blended image. blendContext is the black and white canvas, the one showing the white imagery for motion movement. 
    var blendedData = blendContext.getImageData( buttons[b].x, buttons[b].y, buttons[b].w, buttons[b].h );
    // calculate the average lightness of the blended data
    var i = 0;
    var sum = 0;
    var countPixels = blendedData.data.length * 0.25;
    while (i < countPixels) 
    {
      sum += (blendedData.data[i*4] + blendedData.data[i*4+1] + blendedData.data[i*4+2]);
      ++i;
    }
    // calculate an average between of the color values of the note area [0-255]
    var average = Math.round(sum / (3 * countPixels));
    if (average > 50) // more than 20% movement detected
    { 
      triggers.push(1)
      if (triggers.length <= 8){
        return
      }

      if (buttons[b].name === 'Drums') {
        trancebasssuppressor.loopfire(drummix_audio)
      } else if (buttons[b].name === 'Bass') {
        drummixsuppressor.loopfire(trancebass_audio)
      }
      else if (buttons[b].name === 'Guitar') {
        guitarsuppressor.loopfire(guitar_audio)
      }
      else if (buttons[b].name === 'Song') {
        marshmellosuppressor.fire(marshmello_audio)
      }
      else if (buttons[b].name === 'Piano') {
        pianosuppressor.loopfire(piano_audio)
      }
      else if (buttons[b].name === 'Violin') {
        violinsuppressor.loopfire(violin_audio)
      }
      else if (buttons[b].name === 'Beer Voice') {
        beersuppressor.fire(beer_audio)
      }
      else if (buttons[b].name === 'Darth Vader') {
        darthvadersuppressor.fire(darthvader_audio)
      }
      
        }
    }
     }
    
  
       
      
      // messageArea.innerHTML = "<font size='+10' color=" + buttons[b].name + "><b>Button " + buttons[b].name + " fucked.</b></font>";

  // }
  //    }
  //   }   
  

</script>

<script type="text/javascript" src="javascripts/music_app.js"></script>

</body>
</html>

