<!DOCTYPE html>
<html>
<head>
  <title>AirC&#9889DC</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
 
  <img id="Alex" class="image" src="images/Alex.png">
  <img id="Derek" class="image" src="images/Derek.png">
  <img id="Chris" class="image" src="images/Chris.png">
  <img id="Brendan" class="image" src="images/Brendan.png">

</head>
<body id="homepage">
  <h1>Welcome to AirC<img src="http://www.animatedimages.org/data/media/41/animated-lightning-and-thunderbolt-image-0039.gif" border="0"/>DC</h1><br>

  <h4>Choose an Air Instrument</h4>
<div class="container">

<a href="/bass"><button class="button">Air Bass</button></a><br><br>
<a href="/drums"><button class="button">Air Drums</button></a><br><br>
<a href="/dj1"><button class="button">Air DJ Set 1</button></a><br><br>
<a href="/dj2"><button class="button">Air DJ Set 2</button></a><br><br>
<a href="/piano"><button class="button">Air Piano</button></a><br><br>
<a href="/trump"><button class="button">Trump Mode</button></a><br><br>
<a href="/team"><button class="button">About The Team</button></a><br><br>
<a href="/scenes"><button class="button">Behind the Scenes</button></a><br><br>
<a href="/gong"><button class="button">Hit The Gong!!!</button></a><br><br>




  
<audio id="music" controls controlsList="nodownload" autoplay="autoplay" style="width: 180px;">  

   <source src="audio/Thunderstruck.mp3" type="audio/mpeg">
   Your browser does not support audio format.  
</audio> 




</div>
</body>
</html>