<!DOCTYPE html>
<html>
<head>
  <title>AirC&#9889DC</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
 
  <img id="Alex" class="image" src="images/Alex.png">
  <img id="Derek" class="image" src="images/Derek.png">
  <img id="Chris" class="image" src="images/Chris.png">
  <img id="Brendan" class="image" src="images/Brendan.png">

</head>
<body id="homepage">
  <h1>Welcome to AirC<img src="http://www.animatedimages.org/data/media/41/animated-lightning-and-thunderbolt-image-0039.gif" border="0"/>DC</h1><br>
  <h3>Choose an Air Instrument</h3>
<div class="container">
<a class="button" href="/drums"><button>Air Drums</button></a><br><br>
<a class="button" href="/piano"><button>Air Piano</button></a><br><br>
<a class="button" href="/bass"><button>Air Bass</button></a><br><br>
<a class="button" href="/dj1"><button>Air DJ Set 1</button></a><br><br>
<a class="button" href="/dj2"><button>Air DJ Set 2</button></a><br><br>
<a class="button" href="/trump"><button>Trump Mode</button></a><br><br>
<a class="button" href="/team"><button>About The Team</button></a><br><br>
<a class="button" href="/scenes"><button>Behind the Scenes</button></a><br><br>


  
<audio id="music" controls controlsList="nodownload" autoplay="autoplay" style="width: 180px;">  

   <source src="audio/Thunderstruck.mp3" type="audio/mpeg">
   Your browser does not support audio format.  
</audio> 




</div>
</body>
</html>