<!DOCTYPE html>
<html>
<head>
  <title>AirC&#9889DC</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
 
  <img id="Alex" class="image" src="images/Alex.png">
  <img id="Derek" class="image" src="images/Derek.png">
  <img id="Chris" class="image" src="images/Chris.png">
  <img id="Brendan" class="image" src="images/Brendan.png">

</head>
<body id="homepage">
  <h1>Welcome to AirC<img src="http://www.animatedimages.org/data/media/41/animated-lightning-and-thunderbolt-image-0039.gif" border="0"/>DC</h1><br>
  <h3>Choose an Air Instrument</h3>
<div class="container">
	
  <button class="button" type="button" onclick="window.location.href='/drum_set.html'" autofocus>Air Drum</button><br><br>
  <button class="button" type="button" onclick="window.location.href='/piano.html'" autofocus>Air Piano</button><br><br>
  <button class="button" type="button" onclick="window.location.href='/the_team.html'" autofocus>About the Team</button><br><br>
  <button class="button" type="button" onclick="window.location.href='/behind_the_scenes.html'" autofocus>Behind the Scenes</button><br><br>


  
<audio id="music" controls controlsList="nodownload" autoplay="autoplay" style="width: 180px;">  

   <source src="audio/Thunderstruck.mp3" type="audio/mpeg">
   Your browser does not support audio format.  
</audio> 




</div>
</body>
</html>