<!doctype html>
<html lang="en">
<head>

  <title>AirC&#9889DC</title>
  <!-- http://www.webrtc.org/ -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<style>
  #monitor {
      display: none;
    }

    #blendCanvas {
      display: none;
    }
  </style>
</head>
<body id="team">
<table align="center">
  <tr>

    <th><a href="/drums"><button class="button">Air Drums</button></a></th>
    <th><a href="/dj1"><button class="button">Air DJ Set 1</button></a></th>
    <th><a href="/dj2"><button class="button">Air DJ Set2</button></a></th>
    <th><a href="/piano"><button class="button">Air Piano</button></a></th>
    <th><a href="/team"><button class="button">About the Team</button></a></th>
    <th><a href="/scenes"><button class="button">Behind the Scenes</button></a></th>
    <th><a href="/bass"><button class="button">Air Bass</button></a></th>
    <th><a href="/guitar"><button class="button">Guitar</button></a></th>
    <th><a href="/gong"><button class="button">Hit The Gong!!!</button></a></th>
    <th><a href="/"><button class="button">Home</button></a></th>

  </tr>
</table>

<video align="center" id="monitor" autoplay width: 1400; height: 900;></video>


<div id="canvasLayers" width="1400px" height="900px" style="margin: auto;  top: 100px; position: absolute;" align="center">
<!-- video canvas is the mirror -->
<canvas id="videoCanvas" width="1400px" height="900px" style="margin: auto;  top: 100px; position: absolute;" align="center"></canvas>

<!-- layer 2 has the button/instrument detections in them -->
<canvas id="layer2" width="1400px" height="900px" style="margin: auto;  opacity: 1; top: 100px; position: absolute;" align="center"></canvas>
</div>

<!-- blend canvas is where all the photos are being taken in black and white and comparing the pixel changes based on diff. background image, detecting "movement" when the images are different from different motions -->
<canvas id="blendCanvas" width="1400px" height="900px" align="center"></canvas>


<div id="messageError"></div>
<div id="messageArea" style="position: relative; top: 0px;" align="center"></div>

<audio id="trumpbuildwall">
    <source src='audio/trumpbuildwall.mp3'></source>
  </audio>
  <audio id="trumpchina">
    <source src='audio/trumpchina.mp3'></source>
  </audio>
  <audio id="trumpjail">
    <source src='audio/trumpjail.mp3'></source>
  </audio>
  <audio id="trumprich">
    <source src='audio/trumprich.mp3'></source>
  </audio>
  <audio id="trumpstopit">
    <source src='audio/trumpstopit.mp3'></source>
  </audio>
  <audio id="trumpwrong">
    <source src='audio/trumpwrong.mp3'></source>
  </audio>

<script>      

var buttons = [];

var button1 = new Image();
button1.src ="images/trump5.png";
var buttonData1 = { name:"trump", image:button1, x:500, y:500, w:1, h:1 };
buttons.push( buttonData1 );

function playSound(sound){
  console.log(sound);
  var audio = document.getElementById(sound);
  console.log(audio);
  if (readyToPlay(audio) === true) {
    delay(audio);
    audio.play();
  }
 }

function readyToPlay(soundTime) {
  console.log(soundTime);
  if ((soundTime.currentTime > .26) || (soundTime.currentTime === 0)) {
    return true
  } else {
  return false
  }
}

function delay(sound) {
  if (sound.duration > 0 && !sound.paused) {
      sound.currentTime = 0;
    }
  } 



// called in animate function
function render() 
{ 
  if ( video.readyState === video.HAVE_ENOUGH_DATA ) 
  {
    // mirror video
    videoContext.drawImage( video, 0, 0, videoCanvas.width, videoCanvas.height );

  }

}


var sounds = ["trumpbuildwall", "trumpchina", "trumpjail", "trumprich", "trumpstopit", "trumpwrong"]

// check if white region from blend overlaps area of interest (e.g. buttons)
function checkAreas() 
{
  // buttons are the images being touched
  for (var b = 0; b < buttons.length; b++) 
  {
    // get the pixels in a note area from the blended image. blendContext is the black and white canvas, the one showing the white imagery for motion movement. 
    var blendedData = blendContext.getImageData( buttons[b].x, buttons[b].y, buttons[b].w, buttons[b].h );
      
    // calculate the average lightness of the blended data
    var i = 0;
    var sum = 0;
    var countPixels = blendedData.data.length * 0.25;
    while (i < countPixels) 
    {
      sum += (blendedData.data[i*4] + blendedData.data[i*4+1] + blendedData.data[i*4+2]);
      ++i;
    }
    // calculate an average between of the color values of the note area [0-255]
    var average = Math.round(sum / (3 * countPixels));
    if (average > 50) // more than 20% movement detected
    {

      playSound(sounds[Math.floor(Math.random() * sounds.length)])

      buttons.pop()
      layer2Context.clearRect(0, 0, videoCanvas.width, videoCanvas.height)
      var number = Math.random() * 1100
      var random_position = Math.floor(number)
      
      var number2 = Math.random() * 600
      var random_position2 = Math.floor(number2)
    


      var button2 = new Image();
      button2.src ="images/trump5.png";
      var buttonData2 = { name:"trump", image:button2, x:random_position, y:random_position2, w:175, h:175 };
      buttons.push( buttonData2 );

      // var button3 = new Image();
      // button3.src ="assets/images/trump3.jpeg";
      // var buttonData3 = { name:"Trump", image:button3, x:random_position, y:random_position2, w:175, h:175 };
      // buttons.push( buttonData3 );

      // var button4 = new Image();
      // button4.src ="assets/images/trump2.jpeg";
      // var buttonData4 = { name:"Trump", image:button4, x:random_position, y:random_position2, w:175, h:175 };
      // buttons.push( buttonData4 );

      // var button5 = new Image();
      // button5.src ="assets/images/trump5.jpeg";
      // var buttonData5 = { name:"Trump", image:button5, x:random_position, y:random_position2, w:175, h:175 };
      // buttons.push( buttonData5 );

      // var button6 = new Image();
      // button6.src ="assets/images/trump6.jpeg";
      // var buttonData6 = { name:"Trump", image:button6, x:random_position, y:random_position2, w:175, h:175 };
      // buttons.push( buttonData6 );

      // var button7 = new Image();
      // button7.src ="assets/images/trump1.jpeg";
      // var buttonData7 = { name:"Trump", image:button7, x:random_position, y:random_position2, w:175, h:175 };
      // buttons.push( buttonData7 );

      layer2Context.drawImage( buttonData2.image, buttonData2.x, buttonData2.y, buttonData2.w, buttonData2.h );

      // layer2Context.drawImage( (buttons[Math.floor(Math.random() * buttons.length)].image), (buttons[Math.floor(Math.random() * buttons.length)].x), (buttons[Math.floor(Math.random() * buttons.length)].y), (buttons[Math.floor(Math.random() * buttons.length)].w), (buttons[Math.floor(Math.random() * buttons.length)].h) );


      console.log( "Button " + buttons[b].name + " triggered." ); // do stuff
      messageArea.innerHTML = "<font size='+10' color='black'><b> 'Hit Trump for a comment! .</b></font>";
    }
  }
}

</script>

<script type="text/javascript" src="javascripts/music_app.js"></script>

</body>
</html>

