html {
  cursor: url("/images/bolt.png"), default;
}

@font-face {
  font-family: "squealer";
  src: url("/images/squealer.ttf") format('truetype');
}

@font-face {
  font-family: "Xerox";
  src: url("/images/Xerox.ttf") format('truetype');
}

body {
  background-color: white; 
  margin: auto;
  margin: 5px;
  overflow: scroll;
  top: 0;
  font-family: "squealer";
}

#monitor {
  position: relative;
  /*width: 1200px;
  height: 800px;*/
  float: left;
  border: 10px solid black;
}

#canvasLayers {
  position: relative;
  /*left: 0px;
  top: 0px;*/ 
  /*width: 1200px; 
  height: 800px;*/ 
  float:left;
}

#videoCanvas {
  position: relative;
  /*left: 0px;
  top: 0px;*/
  /*width: 1200px;
  height: 800px;*/
  border: 10px solid black;
  z-index: -1;
  opacity: 1;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */  
  -moz-transform:rotateY(-180deg); /* Firefox */
}

/*both of these css functions are mirroring the video and buttons to make it more friendly to use to try and hit buttons.*/
  
#layer2 {
  position: relative;
  /*left: 0px;
  top: 0px;*/
  /*width: 1200px;
  height: 800px;*/
  border: 10px solid black;
  /*z-index: -1;*/
  opacity: 0.5;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(-180deg); /* Firefox */
}

*/
}

#blendCanvas {
  position: relative;
  /*left: 0px;
  top: 0px;*/
  /*width: 1200px;
  height: 800px;*/
}


#homepage {
  background-image: url("/images/music.png");
  background-size: 80% 110%;
  display: block; 
  position: relative;
  top: 0;
  background-repeat: no-repeat;
}


.image {
  position: absolute;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(40deg); } } /* Firefox */
@-webkit-keyframes spin { 50% { -webkit-transform: rotate(40deg); } } /* Safari and Chrome */ 
@keyframes spin { 50% { -webkit-transform: rotate(40deg); transform:rotate(20deg); } }

#Alex {
  top: 84%;
  left: 35.5%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
}

#Derek {
  top: 141%;
  left: 45.7%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
}

#Chris {
  top: 158%;
  left: 17.5%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
}

#Brendan {
  top: 101%;
  left: 65.5%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
}

h1 {
  position: relative;
  color: black;
}

h3 {
  position: relative;
  left: 80.5%;
  font-size: 1em;
  color: black;
}

table {
  padding: 2%;
}

.header {
  display: relative;
  top:0;
  left:0;
  width:100%;
  height:30px;
}


.container {
  background-color: white; 
  position: relative;
  float: right;
  width: 17%;
  cursor: url("/images/yellowbolt.png"), default;
}

.button {
  outline: none;
  background-color: #ffffff;
  box-shadow: 10px 10px 5px #888888;
  border-radius:3px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  width: 10em;
  padding: 3px 3px;
  box-sizing: border-box;
  font-size: .9em;
  cursor: url("/images/yellowbolt.png"), default;
  font-family: "squealer";
}

.button:hover {
  border-color: black;
  border-width: 2px thick;
}

.button:active {
  border-color: 2px black;
  box-shadow: 0 5px #666;
  /*transform: translateY(4px);*/
}


#music {
  cursor: url("/images/yellowbolt.png"), default;
  position: relative;
}

#footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
  background-image: url("/images/crowd.png");
  text-align: center;

}